<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <title>About Us - ZAS PDF Tools</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">ZAS Pdf Tools</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/about"
              >About <span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">About Us</h1>
          <p class="lead">
            PDF Tools is a leading provider of innovative and efficient
            solutions for working with PDF files. We offer a wide range of tools
            for editing, converting, and creating PDFs, all designed to make
            working with PDFs as easy and streamlined as possible.
          </p>
          <p>
            Our team of experts in the field of PDF technology has years of
            experience in developing and working with PDF software. We are
            committed to providing the highest quality products and services to
            our customers, and are constantly working to improve our tools and
            add new features to better serve our users.
          </p>
          <p>
            We are dedicated to providing exceptional customer service and
            support. If you have any questions or feedback, please don't
            hesitate to <a href="/contact">contact us</a>. We would love to hear
            from you!
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
